In [16]:
import os
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine

# Charger le fichier .env
load_dotenv(dotenv_path=".env")  # ou spÃ©cifie le chemin absolu si besoin

# Lire les variables
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
host = os.getenv("DB_HOST")
port = os.getenv("DB_PORT")
database = os.getenv("DB_NAME")

# Construire l'URL PostgreSQL
url = f"postgresql://{user}:{password}@{host}:{port}/{database}"

# CrÃ©er l'engine SQLAlchemy
engine = create_engine(url)

In [17]:
with engine.connect() as conn:
    test = pd.read_sql("SELECT 1", conn)
test

   ?column?
0         1

In [18]:
#  RÃ©cupÃ©rer les 10 premiÃ¨res lignes de la table translations

with engine.connect() as conn:
    df = pd.read_sql("SELECT * FROM translations LIMIT 10", conn)
df

,id,source_lang,source_text,target_lang,target_text
0,1,fr,Tu connais un bon restaurant marocain dans le ...,dr,ØªØ¹Ø±Ù Ø´ÙŠ Ù…Ø·Ø¹Ù… Ù…ØºØ±Ø¨ÙŠ Ø²ÙˆÙŠÙ† ÙÙ‡Ø§Ø¯ Ø§Ù„Ù†Ø§Ø­ÙŠØ©ØŸ
1,2,fr,Quel plat typique dois-je absolument goÃ»ter ?,dr,ÙˆØ§Ø´ Ù…Ù† Ø·Ø¨Ù‚ ØªÙ‚Ù„ÙŠØ¯ÙŠ Ø®ØµÙ†ÙŠ Ø¨Ø§Ù„Ø¶Ø±ÙˆØ±Ø© Ù†Ø°ÙˆÙ‚ÙˆØŸ
2,3,fr,OÃ¹ trouver le meilleur couscous ici ?,dr,ÙÙŠÙ† Ù†Ù„Ù‚Ù‰ Ø£Ø­Ø³Ù† ÙƒØ³ÙƒØ³ Ù‡Ù†Ø§ØŸ
3,4,fr,C'est quoi ta pÃ¢tisserie prÃ©fÃ©rÃ©e marocaine ?,dr,Ø¹Ù„Ø§Ø´ Ù‡ÙŠ Ø­Ù„ÙˆÙŠØ§Øª Ø§Ù„Ù…ØºØ±Ø¨ÙŠØ© Ø§Ù„Ù…ÙØ¶Ù„Ø© Ø¹Ù†Ø¯ÙƒØŸ
4,5,fr,Le thÃ© Ã la menthe se boit Ã quel moment gÃ©nÃ©r...,dr,Ø§Ù„Ø£ØªØ§ÙŠ Ø¨Ø§Ù„Ù†Ø¹Ù†Ø§Ø¹ ÙŠØªØ´Ø±Ø¨ ÙÙˆÙ‚Ø§Ø´ ÙØ§Ù„Ø¹Ø§Ø¯Ø©ØŸ
5,6,fr,Je voudrais essayer un tajine authentique.,dr,Ø¨ØºÙŠØª Ù†Ø¬Ø±Ø¨ Ø·Ø§Ø¬ÙŠÙ† Ø£ØµÙ„ÙŠ.
6,7,fr,Tu prÃ©fÃ¨res manger dans les restos ou la stree...,dr,ØªÙØ¶Ù„ ØªØ§ÙƒÙ„ ÙÙŠ Ø§Ù„Ù…Ø·Ø§Ø¹Ù… ÙˆÙ„Ø§ ÙÙŠ Ø§Ù„Ø£ÙƒÙ„ Ø¯ÙŠØ§Ù„ Ø§Ù„Ø´Ø§Ø±Ø¹ØŸ
7,8,fr,Tu connais une spÃ©cialitÃ© locale peu connue ?,dr,ÙƒØªØ¹Ø±Ù Ø´ÙŠ ÙˆØ¬Ø¨Ø© Ù…Ø­Ù„ÙŠØ© Ù…Ø§ Ù…Ø¹Ø±ÙˆÙØ§Ø´ Ø¨Ø²Ø§ÙØŸ
8,9,fr,J'aimerais goÃ»ter des plats vÃ©gÃ©tariens maroca...,dr,Ø¨ØºÙŠØª Ù†Ø¬Ø±Ø¨ Ø´ÙŠ Ù…Ø§ÙƒÙ„Ø§Øª Ù…ØºØ±Ø¨ÙŠØ© Ù†Ø¨Ø§ØªÙŠØ©.
9,10,fr,Quels fruits locaux je devrais absolument essa...,dr,Ø£Ø´ Ù…Ù† ÙÙˆØ§ÙƒÙ‡ Ù…Ø­Ù„ÙŠØ© Ø®ØµÙ†ÙŠ Ù†Ø¬Ø±Ø¨ØŸ

In [19]:
# Obtenir le nombre total de lignes dans la table translations
with engine.connect() as conn:
    count = pd.read_sql("SELECT COUNT(*) FROM translations", conn)
count

   count
0  51903

In [20]:
# ğŸ“ŠRegrouper les traductions par source_lang et target_lang
with engine.connect() as conn:
    stats = pd.read_sql("""
        SELECT source_lang, target_lang, COUNT(*) as total
        FROM translations
        GROUP BY source_lang, target_lang
        ORDER BY total DESC
    """, conn)
stats

  source_lang target_lang  total
0          en          dr  15520
1          dr          en  15513
2          fr          dr  10949
3          dr          fr   9921

In [21]:
# ğŸ” Chercher des doublons dans les traductions (mÃªmes texte et langues)
with engine.connect() as conn:
    duplicates = pd.read_sql("""
        SELECT source_lang, source_text, target_lang, COUNT(*) as occurrences
        FROM translations
        GROUP BY source_lang, source_text, target_lang
        HAVING COUNT(*) > 1
    """, conn)
duplicates

,source_lang,source_text,target_lang,occurrences
0,dr,Ø³ÙŠØ± Ù†ÙŠØ´Ø§Ù†,fr,2
1,dr,ÙˆØ§Ø¹Ø±,en,2
2,fr,"Eh bien, je ne trouve pas la carte",dr,2
3,fr,Pas si bien.,dr,2
4,en,"So, how has your week been?",dr,2
...,...,...,...,...
912,en,how are things going,dr,2
913,fr,Je t'aime,dr,2
914,en,Don't get upset!,dr,2
915,fr,OÃ¹ est la poste ?,dr,2
916,fr,Quand tu as terminÃ© toutes les Ã©tapes...,dr,2